<div class="banner-color">
  <div class="banner-violaine" style="background-image: url(<%= asset_path 'me.svg' %>)">
    <div class="container justify-content-center">
      <div class="banner-violaine__title" data-aos="fade" data-aos-delay="50">
        <div class="p-3 text-center">
          <h1>Angélique <strong>Moune</strong></h1>
          <p>Responsable Communication Interne</p>
        </div>
      </div>
    </div>
  </div>
</div>
