<div class="experiences-container py-5" id='experiences'>
  <div class="text-center p-3 my-3 experiences__header" data-aos="fade-right" data-aos-delay="50">Expériences Professionnelles</div>
  <% @experiences.where('category = ?', 'Travail').each do |experience| %>
    <% @experience = experience %>
    <%= render 'shared/experience-card', object: @experience %>
  <% end %>
  <div class="text-center p-3 my-3 experiences__header" data-aos="fade-right" data-aos-delay="50">Formation</div>
  <% @experiences.where('category = ?', 'Études').each do |experience| %>
    <% @experience = experience %>
    <%= render 'shared/experience-card', object: @experience %>
  <% end %>
  <div class="text-center p-3 my-3 experiences__header" data-aos="fade-right" data-aos-delay="50">Bénévolat</div>
  <% @experiences.where('category = ?', "Centres d'intérêt").each do |experience| %>
    <% @experience = experience %>
    <%= render 'shared/experience-card', object: @experience %>
  <% end %>
</div>
