<div class="skills-container" id="apropos">
  <div class="container py-5 col-10 col-lg-7">
    <div class="text-center mb-3 pb-2 experiences__header" data-aos="fade-right" data-aos-delay="50">À propos</div>
    <div class="row justify-content-center">
      <p style="text-align: justify;" class="px-3">
        <%= Resume.last.description %>
      </p>
    </div>
  </div>
</div>
