<div class="skills-container">
  <div class="container py-3">
    <div class="text-center p-3 my-3 experiences__header" data-aos="fade-right" data-aos-delay="50">À propos</div>
    <div class="row justify-content-center">
      <p>
        <%= Resume.last.description %>
      </p>
    </div>
  </div>
</div>
