<div class="skills-container">
  <div class="container py-3">
    <div class="text-center p-3 my-3 experiences__header" data-aos="fade-right" data-aos-delay="50">Compétences</div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "team_work.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Communication</h1>
          <p>Gestion de projet</p>
          <p>Marketing digital</p>
          <p>Change managment</p>
          <p>Gestion Prestataires</p>
          <p>Newsletters</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "team_connect.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Technologies</h1>
          <p>CMS</p>
          <p>Photoshop</p>
          <p>Suite Office</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-10">
        <div class="skills-card p-4">
          <%= image_tag "gallery.svg", alt: "team_work", width: '100%', class: 'skills-card__image mb-3' %>
          <h1>Soft Skills</h1>
          <p>Esprit d'équipe</p>
          <p>Rédaction</p>
          <p>Animation</p>
          <p>Synthèse</p>
          <p>Chant chorale</p>
          <p>Langues vivantes</p>
        </div>
      </div>
    </div>
  </div>
</div>
