.banner-violaine {
  height: calc(100vh - 50px);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0,0,0,0.7);
  z-index: 0;
}

.banner-color {
  height: calc(100vh - 50px);
  background-color: $orange;
  z-index: -1;
}

.banner-violaine__title {
  padding: 20% 0px;

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 0px;
  }
}

@media(max-width: 540px) {
  .banner-violaine__title {
    padding: 50% 0px;
  }

  .banner-violaine {
    background-size: 100%;
  }
}

@media(max-width: 755px) and (min-width: 541px){
  .banner-violaine__title {
    padding: 40% 0px;
  }

  .banner-violaine {
    background-size: 85%;
  }
}

@media(max-width: 1140px) and (min-width: 961px) {
  .banner-violaine {
    background-size: 55%;
  }
}

@media(max-width: 960px) and (min-width: 756px){
  .banner-violaine__title {
    padding: 30% 0px;
  }

  .banner-violaine {
    background-size: 70%;
  }
}
