.btn-violaine-primary {
  background: rgba(244,244,244,0);
  color: rgba(0,0,0,0.7) !important;
  padding: .5rem 1rem;
  border: none;
  border-bottom: 1px solid $orange;
  transition: all .3s ease;
}

.hvr-sweep-to-top:before {
  background: $orange !important;
}
