.btn-violaine-primary {
  background: rgba(244,244,244,0);
  color: rgba(0,0,0,0.7) !important;
  padding: .5rem 1rem;
  border: none;
  box-shadow: 0px -1px 0px $orange inset;
  transition: box-shadow .3s ease;

  &:hover {
    box-shadow: 0px -40px 0px $orange inset;
  }
}
